{% extends ':default:template.html.twig' %}
{% block corps %}
    <h1>A Propos</h1>
    <h2>Un blog sous Symfony par les M2 de l'UM</h2>
    <p>Blog sur l'informatique, créé par Brice Vico, Eymard Mamene, et Théo Chambon</p>
{% endblock %}

